.departmentList {
  padding: 20px;
  grid-area: main;
  overflow-y: auto;
}
/* 
.departmentListUser {
  display: flex;
  align-items: center;
} */

.departmentListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.departmentListDelete {
  color: red;
  cursor: pointer;
}

.departmentTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.departmentAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.departmentContainer {
  display: flex;
  margin-top: 20px;
}

.newdepartment {
  grid-area: main;
  overflow-y: auto;
  padding-left: 50;
}

.newdepartmentForm {
  display: grid;
  flex-wrap: wrap;
}

.newdepartmentItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 20px;
}

.newdepartmentItem > label {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.newdepartmentItem > input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newdepartmentButton {
  width: 200px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 7px 10px;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}
